# Ignore everything
*

# But not these files...
!.gitignore
!generateDummyData.py
!merged.csv
!transaction.csv
!readme.md
!setup_database.sql
!schema.prisma

# Even if they are in subdirectories
!*/

# Ignore all other files in any directory
*/*
!*/generateDummyData.py
!*/merged.csv
!*/transaction.csv
!*/readme.md
!*/setup_database.sql
!*/schema.prisma

# Ignore Python virtual environment
venv/
__pycache__/
*.pyc